# Secrets
.env
.env.*
backend/.env
backend/.env.*
web/.env
web/.env.*

# Node
node_modules
**/node_modules

# Builds
dist
**/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules
**/node_modules
